@using Portail_OptiVille.Data.FormModels
@using System.Linq.Expressions

<EditForm EditContext="@editContext">
    <DataAnnotationsValidator />
    <div class="border-Tel mb-2">
        <div class="py-2 col-lg-12 col-xl-12 titre-bold fs-4">Téléphone @TelephoneNumber <i class="bi bi-braces-asterisk text-danger"></i></div>
        <div class="pb-2 d-flex align-baseline">
            <div class="col-lg-4 col-xl-4 col-6 col-sm-6 ms-xl-3 ms-lg-3">
                <label class="bleuFonce texte-bold" for="typeTel">Type <i class="bi bi-braces-asterisk text-danger"></i></label>
                <select class="form-control @GetInputClass(() => telephoneFormModel.TypeTelEntreprise) input-bleu texte-light" id="typeTel" @bind="telephoneFormModel.TypeTelEntreprise">
                    <option disabled selected>Veuillez choisir un type</option>
                    <option value="Bureau">Bureau</option>
                    <option value="Télécopieur">Télécopieur</option>
                    <option value="Cellulaire">Cellulaire</option>
                </select>
                @((MarkupString)GetValidationHTML(() => telephoneFormModel.TypeTelEntreprise))
            </div>
            <div class="col-lg-6 col-xl-6 col-6 col-sm-6 ms-2">
                <label class="bleuFonce texte-bold" for="NoTel">Numéro <i class="bi bi-braces-asterisk text-danger"></i></label>
                <input type="text" @bind="telephoneFormModel.NoTelEntreprise" class="form-control @GetInputClass(() => telephoneFormModel.NoTelEntreprise) input-bleu texte-light" id="NoTel" />
                @((MarkupString)GetValidationHTML(() => telephoneFormModel.NoTelEntreprise))
            </div>
        </div>
        <div class="col-lg-6 col-xl-6 col-6 col-sm-6 ms-xl-3 ms-lg-3">
            <label class="bleuFonce texte-bold" for="PosteCoordo">Poste <i class="bi bi-braces text-success"></i></label>
            <input type="text" @bind="telephoneFormModel.PosteTelEntreprise" class="form-control @GetInputClass(() => telephoneFormModel.PosteTelEntreprise) input-bleu texte-light" id="PosteCoordo" />
            @((MarkupString)GetValidationHTML(() => telephoneFormModel.PosteTelEntreprise))
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TelephoneNumber { get; set; } = 1;
    private EditContext editContext { get; set; }
    private TelephoneFormModel telephoneFormModel = new TelephoneFormModel();
    private bool isSubmit = false;

    protected override void OnInitialized() 
    {
        editContext = new EditContext(telephoneFormModel);
        editContext.OnValidationStateChanged += (sender, args) => StateHasChanged();
    }

    private string GetInputClass<TField> (Expression<Func<TField>> fieldExpression)
    {
        if (!isSubmit) {
           return "";
        }
        var fieldIdentifier = FieldIdentifier.Create(fieldExpression);
        var isValid = !editContext.GetValidationMessages(fieldIdentifier).Any();

        // THERE'S PROBABLY A BETTER WAY TO DO THIS.
        if (fieldIdentifier.FieldName.Equals("PosteTelEntreprise")) {
            return isValid ? "" : "invalid";
        }

        return isValid ? "valid" : "invalid";
    }

    private string GetValidationHTML<TField> (Expression<Func<TField>> fieldExpression) 
    {
        if (!isSubmit) {
           return "";
        }
        var fieldIdentifier = FieldIdentifier.Create(fieldExpression);
        var isValid = !editContext.GetValidationMessages(fieldIdentifier).Any();

        // THERE'S PROBABLY A BETTER WAY TO DO THIS.
        if (fieldIdentifier.FieldName.Equals("PosteTelEntreprise")) {
            return isValid ? "" : "<span class=\"input-group-text text-danger\"><i class=\"bi bi-x-circle me-2\"></i><span class=\"texte-medium\">" + editContext.GetValidationMessages(fieldIdentifier).FirstOrDefault() + "</span></span>";
        }

        return isValid ? "<span class=\"input-group-text text-success\"><i class=\"bi bi-check-circle me-2\"></i><span class=\"texte-medium\">Valide</span></span>" 
                       : "<span class=\"input-group-text text-danger\"><i class=\"bi bi-x-circle me-2\"></i><span class=\"texte-medium\">" + editContext.GetValidationMessages(fieldIdentifier).FirstOrDefault() + "</span></span>";  
    }

    public bool TriggerValidation() 
    {
        isSubmit = true;
        StateHasChanged();
        return editContext.Validate();
    }
}
