@page "/InfoGenerale"
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using System.Text.Json.Serialization
@inject HttpClient Http
<PageTitle>Informations générales</PageTitle>

<EditForm Model="@identificationModel" OnValidSubmit="HandleValidSubmit">
<!-- OnValidSubmit="HandleValidSubmit" -->
<div class="form-group container-fluid h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="row h-100 w-100 d-flex align-items-center justify-content-center">
        <div class="card w-75 h-75 d-flex justify-content-center p-0 m-0">

@* Identification *@
            <div class="card-header py-2 bg-bleuFonce">
                <h3 class="py-2 p-0 my-0  text-white">Identification</h3>
            </div>

            <div class="card-body py-1">
                <div class="col-xl-12 col-lg-12 py-2">
                    <label class="bleuFonce fw-bold" for="NEQ">NEQ</label>
                    <InputNumber TValue="long?" @bind-Value="identificationModel.NEQ" class="form-control" id="NEQ" />
                                           
                        @if (isSubmitted && !isValid && identificationModel.NEQ != null)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.NEQ)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        }  
                </div>

                <div class="col-xl-12 col-lg-12 py-2">
                    <label class="bleuFonce fw-bold" for="nomEntreprise">Nom de l'entreprise</label>
                    <InputText id="nomEntreprise" class="form-control" @bind-Value="identificationModel.nomEntreprise" />
           
                        @if (isSubmitted && !isValid)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.nomEntreprise)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        }    
                </div>

                <div class="col-xl-12 col-lg-12 py-2">
                    <label class="bleuFonce fw-bold" for="courrielEntreprise">Courriel de l'entreprise</label>
                    <InputText type="email" id="courrielEntreprise" @bind-Value="identificationModel.courrielEntreprise" class="form-control" />
                           
                        @if (isSubmitted && !isValid)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.courrielEntreprise)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        }   
                </div>

                <div class="col-xl-12 col-lg-12 py-2">
                    <label class="bleuFonce fw-bold" for="MotDePasse">Mot de passe</label>
                    <InputText type="password" id="MotDePasse" @bind-Value="identificationModel.MotDePasse" class="form-control" />
                                           
                        @if (isSubmitted && !isValid)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.MotDePasse)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        }  
                </div>

                <div class="col-xl-12 col-lg-12 py-2">
                    <label class="bleuFonce fw-bold" for="ConfirmationMotDePasse">Confirmation du mot de passe</label>
                    <InputText type="password" id="ConfirmationMotDePasse" @bind-Value="identificationModel.ConfirmationMotDePasse" class="form-control" />
                                                                        
                        @if (isSubmitted && !isValid)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.ConfirmationMotDePasse)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        } 
                </div>
            </div>

@* Coordonnées *@
            <div class="card-header py-2 bg-bleuFonce">
                <h3 class="py-2 p-0 my-0 text-white">Coordonnées</h3>
            </div>

            <div class="card-body py-1">

                <div class="py-2 d-flex justify-content-between">     
                    <div class="col-xl-3 col-lg-3">
                        <label class="bleuFonce fw-bold" for="No">No</label>
                        <InputText @bind-Value="identificationModel.noEntreprise" class="form-control" id="No" />
                                                                                            
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.noEntreprise)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }               
                    </div> 

                    <div class="col-xl-6 col-lg-6 ms-1 me-1">
                        <label class="bleuFonce fw-bold" for="Rue">Rue</label>
                        <InputText @bind-Value="identificationModel.rueEntreprise" class="form-control" id="Rue"/>
                                                                                                                    
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.rueEntreprise)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }                         
                    </div>                  

                    <div class="col-xl-3 col-lg-3">
                        <label class="bleuFonce fw-bold" for="Bureau">Bureau</label>
                        <InputText @bind-Value="identificationModel.bureauEntreprise" class="form-control" id="Bureau" />
                                                                                                                                
                            @if (isSubmitted && !isValid && identificationModel.bureauEntreprise != null)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.bureauEntreprise)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 py-2">
                    <label class="bleuFonce fw-bold" for="Ville">Ville</label>
                    <InputText @bind-Value="identificationModel.villeEntreprise" class="form-control" id="Ville" />
                                                                                                                        
                        @if (isSubmitted && !isValid)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.villeEntreprise)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        } 
                </div>

                <div class="py-2 d-flex justify-content-between">
                    <div class="col-xl-6 col-lg-6">
                        <label class="bleuFonce fw-bold" for="Province">Province</label>
                        <InputSelect class="form-control" id="Province" @bind-Value="identificationModel.provinceEntreprise">
                            <option value="" disabled selected>Veuillez choisir une province</option>
                            @foreach(string province in listeProvinces)
                            {
                                <option value="@province">@province</option>
                            }
                        </InputSelect>
                                                                                                                                                
                        @if (isSubmitted && !isValid)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.provinceEntreprise)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        } 
                    </div>

                    <div class="col-xl-6 col-lg-6 ms-1">
                        <label class="bleuFonce fw-bold" for="CodePostal">Code Postal</label>
                        <InputText @bind-Value="identificationModel.codePostalEntreprise" class="form-control" id="CodePostal" />
                                                                                                                                            
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.codePostalEntreprise)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>
                </div>

                <div class="col-lg-12 col-xl-12 py-2">
                    <label class="bleuFonce fw-bold" for="RegionAdm">Région Admnistrative</label>
                    <InputSelect id="RegionAdm" @bind-Value="identificationModel.regionAdmEntreprise" class="form-control">
                        <!--Il faut créer un option qui n'a aucune valeur en selected et en disabled pour éviter que lorsqu'on soumet que la valeur soit nulle-->
                        <option value="" disabled selected>Veuillez choisir une région administrative</option>
                        @foreach(string region in listeRegionADM)
                        {
                            <option value="@region">@region</option>
                        }
                    </InputSelect>
                                                                                                                                                        
                        @if (isSubmitted && !isValid)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.regionAdmEntreprise)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        }
                </div>

                <div class="col-lg-12 col-xl-12 py-2">
                    <label class="bleuFonce fw-bold" for="SiteWeb">Site Internet</label>
                    <InputText @bind-Value="identificationModel.siteWebEntreprise" class="form-control" id="SiteWeb" />
                </div>

                <div class="py-2 d-flex justify-content-between">
                    <div class="col-lg-3 col-xl-3">
                        <label class="bleuFonce fw-bold" for="typeTel">Type</label>
                        <InputSelect class="form-control" id="typeTel" @bind-Value="identificationModel.typeTelEntreprise">
                            <option value="" disabled selected>Veuillez choisir un type de téléphone</option>
                                @foreach(string type in listeTypeContact)
                                {
                                    <option value="@type">@type</option>
                                }
                        </InputSelect>
                                                                                                                                                                                                                                                        
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.typeTelEntreprise)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>

                    <div class="col-lg-6 col-xl-6 ms-1 me-1">
                        <label class="bleuFonce fw-bold" for="NoTel">Numéro de téléphone</label>
                        <InputNumber TValue="long?" @bind-Value="identificationModel.noTelEntreprise" class="form-control" id="NoTel" />
                                                                                                                                                                        
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.noTelEntreprise)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>

                    <div class="col-lg-3 col-xl-3">
                        <label class="bleuFonce fw-bold" for="PosteCoordo">Poste</label>
                        <InputNumber TValue="long?" @bind-Value="identificationModel.posteTelEntreprise" class="form-control" id="PosteCoordo" />
                    </div>
                </div>
            </div>

@* Contacts *@
            <div class="card-header py-2 bg-bleuFonce">
                <h3 class="py-2 p-0 my-0 text-white">Contacts</h3>
            </div>

            <div class="card-body py-1">

                <div class="py-2 d-flex justify-content-between">
                    <div class="col-lg-4 col-xl-4">
                        <label class="bleuFonce fw-bold" for="Prenom">Prénom</label>
                        <InputText @bind-Value="identificationModel.prenomContact" class="form-control" id="Prenom" />
                                                                                                                                                                                        
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.prenomContact)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>

                    <div class="col-lg-4 col-xl-4 me-1 ms-1">
                        <label class="bleuFonce fw-bold" for="Nom">Nom</label>
                        <InputText @bind-Value="identificationModel.nomContact" class="form-control" id="Nom" />
                                                                                                                                                                                                        
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.nomContact)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>

                    <div class="col-lg-4 col-xl-4">
                        <label class="bleuFonce fw-bold" for="Fonction">Fonction</label>
                        <InputText @bind-Value="identificationModel.fonctionContact" class="form-control" id="Fonction" />
                                                                                                                                                                                                                        
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.fonctionContact)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>
                </div>

                <div class="col-lg-12 col-xl-12 py-2">
                    <label class="bleuFonce fw-bold" for="Courriel">Adresse courriel</label>
                    <InputText @bind-Value="identificationModel.courrielContact" class="form-control" id="Courriel" />
                                                                                                                                                                                                                                        
                        @if (isSubmitted && !isValid)
                        {
                            <span class="input-group-text text-danger">
                                <i class="bi bi-x-circle me-2"></i>
                                <ValidationMessage For="@(() => identificationModel.courrielContact)" />
                            </span>
                        }
                        else if (isSubmitted && isValid)
                        {
                            <span class="input-group-text text-success">
                                <i class="bi bi-check-circle me-2"></i>
                            </span>
                        }
                </div>
                <div class="py-2 d-flex justify-content-between">
                    <div class="col-lg-3 col-xl-3">
                        <label class="bleuFonce fw-bold" for="typeTel">Type</label>
                        <InputSelect class="form-control" id="typeTel" @bind-Value="identificationModel.typeTelContact">
                            <option value="" disabled selected>Veuillez choisir un type de téléphone</option>
                                @foreach(string type in listeTypeContact)
                                {
                                    <option value="@type">@type</option>
                                }
                        </InputSelect>
                                                                                                                                                                                                                                                        
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.typeTelContact)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>

                    <div class="col-lg-6 col-xl-6 ms-1 me-1">
                        <label class="bleuFonce fw-bold" for="NoTel">Numéro de téléphone</label>
                        <InputNumber TValue="long?" @bind-Value="identificationModel.noTelContact" class="form-control" id="NoTel" />
                                                                                                                                                                        
                            @if (isSubmitted && !isValid)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.noTelContact)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>

                    <div class="col-lg-3 col-xl-3">
                        <label class="bleuFonce fw-bold" for="PosteContact">Poste</label>
                        <InputNumber TValue="long?" @bind-Value="identificationModel.posteTelContact" class="form-control" id="PosteContact" />
                            @if (isSubmitted && !isValid && identificationModel.posteTelContact != null)
                            {
                                <span class="input-group-text text-danger">
                                    <i class="bi bi-x-circle me-2"></i>
                                    <ValidationMessage For="@(() => identificationModel.posteTelContact)" />
                                </span>
                            }
                            else if (isSubmitted && isValid)
                            {
                                <span class="input-group-text text-success">
                                    <i class="bi bi-check-circle me-2"></i>
                                </span>
                            }
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>





    <div class="form-group container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <button type="submit" class="btn btn-secondary" @onclick="SubmitForm">Suivant <i class="bi bi-arrow-right-circle"></i></button>
            </div>
        </div>
    </div>
    <DataAnnotationsValidator />
</EditForm>

@code {
    // Modèle pour les informations générales
    private IdentificationModel identificationModel = new IdentificationModel();

    #region Listes
    private List<string> listeProvinces = new List<string>{"Québec", "Ontario", "Manitoba", "Saskatchewan", "Alberta", "Colombie-Britanique",
        "Île-du-Prince-Édouard", "Nouveau-Brunswick", "Nouvelle-Écosse", "Terre-Neuve-et-Labrador", "Nunavut", "Territoires du Nord-Ouest", 
        "Yukon"};
    private List<string> listeRegionADM = new List<string>{"(01) Bas-Saint-Laurent", "(02) Saguenay-Lac-Saint-Jean", "(03) Capitale-Nationale", 
        "(04) Mauricie", "(05) Estrie", "(06) Montréal", "(07) Outaouais", "(08) Abitibi-Témiscamingue", "(09) Côte-Nord", "(10) Nord-du-Québec", 
        "(11) Gaspésie-Îles-de-la-Madeleine", "(12) Chaudière-Appalaches", "(13) Laval", "(14) Lanaudière", "(15) Laurentides", "(16) Montérégie", 
        "(17) Centre-du-Québec"};
    private List<string> listeTypeContact = new List<string>{"Bureau", "Télécopieur", "Cellulaire"};
    #endregion
    private bool isSubmitted = false;
    private bool isValid = true;
    // Sert à gérer le scénario où le formulaire est valide.
    public async void HandleValidSubmit()
    {
        await getAddressWithNEQ();
        Console.WriteLine("OnValidSubmit");
    }

    //Appel de l'API des municipalite
    private async Task getAddressWithNEQ()
    {

        var response = await Http.GetAsync($"https://www.donneesquebec.ca/recherche/api/3/action/datastore_search_sql?sql=SELECT%20DISTINCT%20*%20FROM%20%2232f6ec46-85fd-45e9-945b-965d9235840a%22%20WHERE%20%22NEQ%22%20=%20%27{identificationModel.NEQ}%27%20LIMIT%201");
    
        if (response.IsSuccessStatusCode){
            // Récupération des données
            var data = await response.Content.ReadAsStringAsync();
            Console.WriteLine(data);
        }
        else{
            Console.WriteLine("Erreur lors de l'appel de l'API");
        }

    }

    private void SubmitForm()
    {
        isSubmitted = true;
        isValid = !string.IsNullOrEmpty(identificationModel.nomEntreprise);
      
    }

    public class IdentificationModel
    {

    #region identification
            [Range(1100000000, 8899999999, ErrorMessage = "Maximum 10 caractères")]
            public long? NEQ { get; set; }
            
            [Required(ErrorMessage = "Nom requis")]
            [MaxLength(64, ErrorMessage = "Maximum 64 caractères")]
            public string? nomEntreprise { get; set; }

            [Required(ErrorMessage = "Courriel est requis")]
            [MaxLength(64, ErrorMessage = "Maximum 64 caractères")]
            public string? courrielEntreprise { get; set; }

            [Required(ErrorMessage = "Mot de passe requis")]
            [Length(7,12, ErrorMessage = "Contient entre 7 et 12 caractères")]
            [RegularExpression("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&]).+$", ErrorMessage = "Contient au moins une majuscule, une minuscule, un chiffre et un caractère spécial (@$!%*?&)")]
            public string? MotDePasse { get; set; }

            [Required(ErrorMessage = "Confirmation du mot de passe requise")]
            [Length(7,12, ErrorMessage = "Contient entre 7 et 12 caractères")]
            [RegularExpression("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&]).+$", ErrorMessage = "Contient au moins une majuscule, une minuscule, un chiffre et un caractère spécial (@$!%*?&)")]
            [Compare(nameof(MotDePasse), ErrorMessage = "Les mots de passe ne correspondent pas")]
            public string? ConfirmationMotDePasse { get; set; }
    #endregion
    #region coordonnees
            [Required(ErrorMessage = "No requis")]
            [MaxLength(8, ErrorMessage = "Maximum 8 caractères")]
            public string? noEntreprise { get; set; }

            [Required(ErrorMessage = "Nom requis")]
            [MaxLength(64, ErrorMessage = "Maximum 64 caractères")]
            public string? rueEntreprise { get; set; }

            [MaxLength(8, ErrorMessage = "Maximum 8 caractères")]
            public string? bureauEntreprise { get; set; }

            [Required(ErrorMessage = "Nom requis")]
            [MaxLength(64, ErrorMessage = "Maximum 64 caractères")]
            public string? villeEntreprise { get; set; }

            [Required(ErrorMessage = "Province requise")]
            public string? provinceEntreprise { get; set; }

            [Required(ErrorMessage = "Code postal requis")]
            [RegularExpression("^(?!.*[DFIOQU])[A-VXY][0-9][A-Z] ?[0-9][A-Z][0-9]$", ErrorMessage = "Code postal invalide")]
            [MaxLength(6, ErrorMessage = "Maximum 6 caractères")]

            public string? codePostalEntreprise { get; set; }

            [Required(ErrorMessage = "Numéro requis")]
            [MaxLength(2, ErrorMessage = "Maximum 2 caractères")]
            public int? codeAdmEntreprise { get; set; }

            [Required(ErrorMessage = "Région requise")]
            public string? regionAdmEntreprise { get; set; }

            [MaxLength(64, ErrorMessage = "Maximum 64 caractères")]
            public string? siteWebEntreprise { get; set; }

            [Required(ErrorMessage = "Type requis")]
            public string? typeTelEntreprise { get; set; }

            [Required(ErrorMessage = "Numéro requis")]
            [Range(1000000000, 9999999999, ErrorMessage = "Numéro invalide")]
            public long? noTelEntreprise { get; set; }

            [Range(000000, 999999, ErrorMessage = "Numéro invalide")]
            public long? posteTelEntreprise { get; set; }
    #endregion
    #region contact
        [Required(ErrorMessage = "Prénom requis")]
        [MaxLength(32, ErrorMessage = "Maximum 32 caractères.")]
        [RegularExpression("^[a-zA-Z'-]+$", ErrorMessage = "Prénom invalide")]
        public string? prenomContact { get; set; }

        [Required(ErrorMessage = "Nom requis")]
        [MaxLength(32, ErrorMessage = "Maximum 32 caractères.")]
        [RegularExpression("^[a-zA-Z'-]+$", ErrorMessage = "Nom invalide")]
        public string? nomContact { get; set; }

        [Required(ErrorMessage = "Fonction requise")]
        [MaxLength(32, ErrorMessage = "Maximum 32 caractères.")]
        public string? fonctionContact { get; set; }

        [Required(ErrorMessage = "Courriel requis")]
        [MaxLength(64, ErrorMessage = "Maximum 64 caractères.")]
        public string? courrielContact { get; set; }

        [Required(ErrorMessage = "Type requis")]
        public string? typeTelContact { get; set; }

        [Required(ErrorMessage = "Numéro requis")]
        [Range(1000000000, 9999999999, ErrorMessage = "Numéro invalide")]
        public long? noTelContact { get; set; }

        [Range(000000, 999999, ErrorMessage = "Numéro invalide")]
        public long? posteTelContact { get; set; }
    #endregion

    }

public class ApiResponse
{
    public Result? Result { get; set; }
}

public class Result
{
    public List<NEQRecord>? Records { get; set; }
}

public class NEQRecord
{
    [JsonPropertyName("NEQ")]
    public string? NEQ { get; set; }
    [JsonPropertyName("Adresse")]
    public string? Adresse { get; set; }
}
}